.align-me {
    /* position: relative; */
    display: grid;
}

.page-center {
    margin: auto;
    /* position: absolute; */
    /* top: 50%; */
    /* translate: translateY(-50%); */
    /* bottom: 50%; */
}

.btn {
    margin: 5px 0px;
}