.seasonsPage {
    margin: 0px;
}

.gt-button {
    margin: 0px 2.5px;
}

.seasonBox {
    margin: 20px 0px;
    outline: 1px outset gray;
    box-shadow: 2px 2px 5px gray;
}

.boxTop {
    margin-top: 15px;
}

