.cr-header {
  margin-bottom: $spacer * .5;
  border-bottom: $border-width solid $border-color;

  &__nav-right {
    flex-direction: row;
    justify-content: flex-end;
    margin-left: auto;
  }

};

.headroom {
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
};

.headroom--unfixed {
  position: relative;
  transform: translate3D(0, 0, 0);
};

.headroom--scrolled {
  transition: transform 200ms ease-in-out;
};

.headroom--unpinned {
  position: fixed;
  transform: translate3D(0, -100%, 0);
};

.headroom--pinned {
  position: fixed;
  transform: translate3D(0, 0, 0);
};

.userId {
  color: black;
}