.registerContainer {
    margin-top: 15%;
    padding: 18px;
    width: 50%;
    background-color: rgba(247, 247, 247, 0.276);
    box-shadow: .5px .5px 2px rgb(91, 91, 91);
}

// .registerCol {
//     width: 25%;
// }

// .regRow {
//     width: 25%;
// }